.Professionaly-section{
    padding: 100px 0px;
    background-color:rgb(248, 234, 231);

}

.professionaly-contact{
    text-align: left;
    margin-left: 5%;
}

.col-md-6.studio-pic img {
	border-radius: 8px;
}