.navbar-nav {
  margin-left: 45%;
}
.navbar-brand {
  margin-left: 5%;
}
.navbar-brand a {
  color: tomato;
  font-weight: 600;
  font-size: 25px;
}
a {
  text-decoration: none;
  color: black;
}
.login-btn {
  background: tomato;
  padding: 4px 20px;
  border-radius: 3px;
  color: #fff;
  /* border: 1px solid tomato; */
  transition: .2s;
}

.login-btn:hover {
  background: none;
  padding: 4px 20px;
  border-radius: 3px;
  color: #000;
  border: 1px solid tomato;
}
a.nav-link {
  margin-left: 10px;
  font-weight: 500;
  font-size: 17px;
  
}

a.nav-link:hover{
  margin-left: 10px;
  /* font-weight: 500; */
}

